
.about {
    position: relative;

    &__description{
        box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
        background-color: rgba(200, 214, 229, 0.6);
        position: relative;
        width: 50%;
        left: 24rem;
        height: 100%;
        margin-top: 14rem;
    }
}

.bg-video {
    top: 0;
    left: 0;
    height: 80%;
    width: 80%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    float: right;

    &__content {
        position: absolute;
        height: 50%;
        width: 40%;
        object-fit: cover;
    }
}


