<div class="container">
    <h1> Contact us </h1>
        <form (ngSubmit)="onSubmit()" class="contact" [formGroup]="userForm">
            <div class="form-group row">
                <label for="FirstName" class="col-sm-4 col-form-label"> Your First Name:  </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="FirstName" 
                  placeholder="your first name" required
                   />

                   <app-control-messages [control]="userForm.controls.FirstName"></app-control-messages>

                </div>
            </div>

            <div class="form-group row">
                <label for="LastName" class="col-sm-4 col-form-label"> Your Last Name:  </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="LastName" 
                   placeholder="your last name" required
                   />

                   <app-control-messages [control]="userForm.controls.LastName"></app-control-messages>

                </div>
            </div>

            <div class="form-group row">
                <label for="Email" class="col-sm-4 col-form-label"> Your email:  </label>
                <div class="col-sm-8">
                  <input type="email" email class="form-control" formControlName="Email"
                  placeholder="your email" required
                   />
                   <app-control-messages [control]="userForm.controls.Email"></app-control-messages>

                </div>
            </div>

            <div class="form-group row">
                <label for="userMessage" class="col-sm-4 col-form-label"> Your Message:  </label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="4" maxlength="50" 
                    formControlName="userMessage" > 
                    </textarea>
                    <app-control-messages [control]="userForm.controls.userMessage"></app-control-messages>

                </div>
            </div>

            <button type = "submit" [disabled]="!userForm.valid" class="btn btn-primary contact__button"> Submit </button>
        </form>
</div>
  