<header class="header">
      <img src="assets/images/logo.jpg" alt="music logo" class="logo">
      <nav class="navbar">
          <ul class="top-nav">
            <li class="top-nav__item"><a class="top-nav__link" routerLink="/"> Home </a></li>
            <li class="top-nav__item"><a class="top-nav__link" routerLink="/about"> About </a></li>
            <li class="top-nav__item"><a class="top-nav__link" routerLink="/contact"> Contact </a></li>
            <li class="top-nav__item"><a class="top-nav__link" routerLink="/myCart"> My Cart </a></li>
          </ul>
      </nav>
</header>
