<header class="header">
      <img src="assets/images/logo.jpg" alt="music logo" class="logo">
      <nav class="navbar">
          <ul class="top-nav">
            <li class="top-nav__item">
              <a class="top-nav__link" routerLink="/"> Home </a>
              <span class="material-icons"> home </span>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" routerLink="/about"> About </a>
              <span class="material-icons"> feedback </span>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" routerLink="/contact"> Contact </a>
              <span class="material-icons"> local_phone </span>
            </li>
            <li class="top-nav__item">
              <a class="top-nav__link" routerLink="/myCart"> My Cart </a>
              <span class="material-icons">shopping_cart </span>
            </li>
          </ul>
      </nav>
</header>
