$bp-small: 48em; //762px

.header {
    font-size: 1.2rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid #f4f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 5%;
    height: 100%;

    @media only screen and (max-width: $bp-small) {
        width: 15%;
    } 
}

.navbar {
    background-color: #333;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    border-radius: 0;
}

.top-nav {
    font-size: 1.4rem;
    list-style: none;
    margin: 0;
    display: flex;

    &__item {
        position: relative;
        margin: 0;
        flex: 1;
        white-space: nowrap;
        padding: 2.5rem 4rem;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #16a085;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item:active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: #1abc9c;
    }

    &__link:link,
    &__link:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        justify-content: center;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
    }
}