
.product {
    display: flex;
    justify-content: space-around;

    &__item {
        margin-left: 13%;
    }
}

.material-icons {
    font-size: 4rem;
    margin-left: -0.4rem;
    cursor: pointer;

    &:hover {
        color: #16a085;
    }
}

.cart-info {
    margin: 4rem;
    display: flex;
    justify-content: space-around;
}