$bp-large: 68.75em; //1100px

.product {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $bp-large) {
        margin-left: 10%;
    }

    &__item {
        margin-left: 13%;

        @media only screen and (max-width: $bp-large) {
            margin-left: 10%;
        }
    }
}

.material-icons {
    font-size: 4rem;
    margin-left: -0.4rem;
    cursor: pointer;

    &:hover {
        color: #16a085;
    }
}

.cart-info {
    margin: 4rem;
    display: flex;
    justify-content: space-around;
}