<div class="container" >
    <div class="product">
        <div class="product__details">
        <h1> Product Details </h1>
            <div class="card-body">
                <div *ngIf="item" class="product__item">
                    <h3> {{item.title}} </h3>
                    <div class="row">
                        <div class="col-xs-7 col-md-8">
                            <img [src]="item.image"  class="img-responsive" /> 
                        </div>
                        <div class="col-xs-5 col-md-4">
                            <h4> id: {{item.id}} </h4>
                            <h4> cost: {{item.cost}} </h4>
                            <span class="material-icons" (click)="onAdd(item)"> add_box</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-info">
            <app-cart-info> </app-cart-info>
        </div>
    </div>
</div>