<table class="products-table table table-striped table-bordered table-sm"
 cellspacing="0">
   <thead>
      <tr>
        <th> Poster </th>
        <th> Title </th>
        <th> Description </th>
        <th> Cost </th>
        <th> </th>
      </tr>
    </thead>
    <tbody *ngIf="items()">
      <tr *ngFor="let item of items()"> 
        <td class="image"> 
          <img [src]="item.image" routerLink="/product/{{item.title}}" />
        </td>
        <td class="title">
            {{item.title}}
        </td>
        <td class="desc"> 
          <div *ngIf="inCart(item.title)"  class="material-icons">shopping_cart</div>
          <p>
              {{item.description}} 
          </p>
        </td>
        <td class="cost"> 
          <div> {{item.cost}} 
            <span  class="material-icons"> attach_money </span> 
          </div> 
        </td>
        <td class="actions">
          <div>
            <span class="material-icons" (click)="onAdd(item)"> add_box</span>
            <span class="material-icons" (click)="onRemove(item)"> delete</span>
          </div>
        </td>
      </tr>
    </tbody>
</table>
<div class="change__pages">
    <span> Page: {{page + 1}} of {{numberOfPages()}} </span>
    <button type="button" (click)="prvPage()"> Previous </button>
    <button type="button" (click)="nextPage()"> Next </button>
</div>