$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    background-image: linear-gradient(to right bottom, #16a085, #1abc9c);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #faf9f9;
    box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
    min-height: 60rem;

    @media only screen and(max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

h1 {
    margin: 5rem;

    @media only screen and(max-width: $bp-small) {
        margin: 3rem;
    }
}

app-control-messages div {
    color: #E82C0C;
    margin: 6px 0;
}