<div class="container">
      <div class="main__info_cart">
          <p class="error"> {{error}} </p>
          <form name="search" (ngSubmit)="onSubmit()" class="search form-inline">
                  <label for="search__album"> Quick Search:  </label>
                    <input type="text" class="form-control search__input" name="search__album" 
                    [(ngModel)]="searchValue" #search__input = "ngModel" placeholder="Search" />
              <input type = "submit" value = "Submit" class="btn btn-primary search__button" ng-model="products-table">
          </form>
          <app-cart-info> </app-cart-info>
      </div>
      <app-products-table [data]="albumsData" [onAdd]="onProductAdd" [onRemove]="onProductRemove"> </app-products-table>
</div>