$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 48em; //762px
$bp-smallest: 31.25em; //500px

.search {
    @media only screen and (max-width: $bp-large) {
        font-size: 80%;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: #f4f2f2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 50%;
        margin-left: 1rem;

        @media only screen and (max-width: $bp-small) {
            margin-left: 0;
        }
    }

    &__button {
        border: none;
        margin-left: 3rem;

        @media only screen and (max-width: $bp-large) {
            font-size: 80%;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 2rem 0 0 0;
        }
    }
}

form {
    width: 60%;
}

.main__info_cart {
    margin: 4rem;
    display: flex;
    justify-content: space-around;
}

.product {
   
    margin-left: 15%;
     
    @media only screen and (max-width: $bp-large) {
        margin-left: 10%;
    }
}

.material-icons {
    font-size: 4rem;
    margin-left: -0.4rem;
    cursor: pointer;

    &:hover {
        color: #16a085;
    }
}






