<div class="container">
      <div class="main__info_cart">
          <form name="search" (ngSubmit)="onSubmit()" class="search form-inline">
                  <label for="search__album"> Quick Search:  </label>
                    <input type="text" class="form-control search__input" name="search__album" 
                    [(ngModel)]="searchValue" #search__input = "ngModel" placeholder="Search" />
              <input type = "submit" value = "Submit" class="btn btn-primary search__button">
          </form>
          <div class="item_info">
              <p class="detail"> Cart Info: </p>
              <div class="product">
                <div class="product__item"> item {{totalCalc()}} </div>
                <div class="product__money"> 
                    {{totalCost()}}
                    <i class="material-icons">attach_money</i>
                </div>
              </div>
          </div>
      </div>
      
      <app-products-table [onAdd]="onProductAdd" [onRemove]="onProductRemove"> </app-products-table>
</div>


